{% extends '../base.html' %}

{% block content %}
  <div>
  	<a href="{{handler.reverse_url("auth_google")}}">{{_("Google")}}</a>
  	<a href="{{handler.reverse_url("auth_facebook")}}">{{_("Facebook")}}</a>
  </div>
{% end %}