{% extends '../base.html' %}

{% block content %}
  <div>{{_("First Name")}}:&nbsp;{{user.get('first_name', 'Unknown')}}</div>
  <div>{{_("Last Name")}}:&nbsp;{{user.get('last_name', 'Unknown')}}</div>
  <div>{{_("Email")}}:&nbsp;{{user.get('email', 'Unknown')}}</div>

  <div>
  	<a href="{{handler.reverse_url("main")}}">{{_("main page")}}</a>
  	<a href="{{handler.reverse_url("logout")}}">{{_("logout")}}</a>
  </div>
{% end %}