<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% end %}</title>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  {% include 'staticbase.html' %}
  {% block extra_head %}{% end %}
</head>
<body>
  <div id="body">
    {% block body %}
      <div id="content">
        {% block content %}
          {{_("It works!")}}
        {% end %}
      </div>
    {% end %}
  </div>
</body>
</html>
